body {
    font-family: Courier;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header, footer {
    padding: 15px;
    color: black;
}

main {
    padding: 20px;
}

h1 {
    color: #333;
    text-align: center;
}

.product {
    margin-bottom: 15px;
}

label {
    display: inline-block;
    width: 200px;
    font-weight: bold;
}

input[type="number"] {
    padding: 8px;
    width: 100px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.buttons {
    margin-top: 20px;
    text-align: center;
}

button {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: rgb(216, 134, 185);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(200, 110, 170);
}

#total-price {
    margin-top: 30px;
    text-align: center;
    font-size: 1.2em;
    color: #333;
}